html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


body {
    font-family: Montserrat, sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: beige;
}

.zajezdy__aktualni{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
}

.zajezdy__aktualni > div:nth-child(1) {
    grid-row: 1 / span 2;
    background-image: url(/podklady/palmy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 1;
}

.zajezdy__aktualni > div:nth-child(2) {
    background-image: url(/podklady/jezero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 2;
}

.zajezdy__aktualni > div:nth-child(3) {
    background-image: url(/podklady/nakole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 2;
}

.zajezdy__lastminute  {   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2;
    gap: 10px;
}

.zajezdy__lastminute > div:nth-child(1) {
    background-image: url(/podklady/podkova.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 1;
}

.zajezdy__lastminute > div:nth-child(2) {
    background-image: url(/podklady/zatoka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 1;
}

.zajezdy__lastminute > div:nth-child(3) {
    background-image: url(/podklady/lodicka.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    grid-column: 2;
    grid-row: 1 / span 2;
}



.seznam {
      background-color: gray;
}

.seznam__sluzby {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1;
    gap: 1rem;
    width: 100%;
}

.seznam__novinky {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    gap: 1rem;
    width: 100%;
    text-align: left;
}

.seznam__datum {
    color: darkgray;
}

h1 {
    color: black;
}


h2 {
    color: orangered;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
}